@import "~bootstrap/scss/bootstrap";

body {
    background-color: #292828;
}

* {
    color: #fff;
}

form > div.card {
    background-color: #444444;
}

form > div.card:nth-child(n+2) {
    margin-top: $spacer;
}

.modal-content * {
    color: black;
}

div > .form-label {
    display: flex;
    justify-content: center;
}

div.modal-body > form > div > div > a {
    width: 470px;
}

body {
    margin-bottom: 50px;
}
